:root{
    --color-base: #333;
    --color-base-figure-background: beige;
    --color-base-figure-border:  #333;
    --font-base-titulo-principal:'Roboto';
    --font-base-primary: "Big Shoulders Stencil";
    --font-base-secondary: "Big Shoulders Stencil";
    --font-base-figcaption: "Big Shoulders Stencil";
}

html{
    scroll-behavior: smooth;
}


body {
    color: var(--color-base);
    font-family: var(--font-base-titulo-principal);
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
    font-family: var(--font-base-primary)
}

h2 {
    border-bottom: 2px groove var(--color-base-figure-border);
    margin-top: 30px;
    font-family: var(--font-base-secondary);}

figure {
    background-color:var(--color-base-figure-background);
    border: 1px solid #CCC;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
      font-family: var(--font-base-figcaption);
}

p {
    padding: 0 45px;
    text-indent: 25px;
    text-align: justify;
}